%h1 Categories

%table
  %tr
    %th
    %th
    %th

  - @categories.each do |category|
    %tr
      %td
        %h3= link_to category, category
      %td
        = link_to edit_category_path(category) do
          %i.glyphicon.glyphicon-pencil
      %td
        = link_to category, :method => :delete, :data => { :confirm => 'Are you sure?' } do
          %i.glyphicon.glyphicon-trash


%br

= link_to 'New Category', new_category_path, class: 'btn btn-primary'
