.row
  .col-sm-8.col-offset-1
    %h1.inline_block
      = @category.name
    - if can? :edit, @category
      = link_to edit_category_path(@category) do
        %i.glyphicon.glyphicon-pencil
    %ul
      - @category.subcategories.each do |subcategory|
        %li
          %h3=link_to subcategory, subcategory
      - if can? :create, Subcategory
        %li
          = link_to '+ Subcategory', new_subcategory_path, class: 'btn btn-default btn-xs'
            
